.solver-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 13px;
}
.solver-options > button {
  text-align: left;
  justify-content: flex-start;
  gap: 13px;
  padding: 15px 13px;
  border: 1px solid #494949;
  border-radius: 9px;
  color: #979797;
}
.solver-options > button.active {
  border-color: #aeaeae;
  background: #dedede0a;
  color: #dedede;
}
.solver-options > button > span {
  flex: 1;
}
.solver-options strong {
  font-size: 13px;
  display: block;
  font-weight: 500;
}
.solver-options small {
  font-size: 11px;
  color: #979797;
  line-height: 1.8;
  display: block;
  margin-top: 5px;
}
.solver-options i {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #6a6a6a;
}
.solver-options .active i {
  background: #dedede;
  box-shadow: inset 0 0 0 3px #383838;
}
.solve-button {
  width: 100%;
  margin: 19px 0 10px;
  justify-content: space-between;
}
.solver-progress {
  display: flex;
  align-items: center;
  gap: 9px;
  background: #353535;
  border-radius: 8px;
  padding: 13px;
  font-size: 12px;
  line-height: 1.7;
  color: #c3c3c3;
}
.solver-progress span {
  flex: 1;
}
.solver-result {
  display: flex;
  gap: 10px;
  padding: 15px 0;
  align-items: center;
  color: #c6c6c6;
}
.solver-result strong {
  font-weight: 500;
  font-size: 13px;
}
.solver-result p {
  font-size: 11px;
  color: #9f9f9f;
  margin-top: 5px;
}
.cfop-guide {
  margin-top: 24px;
  padding-top: 20px;
  border-top: 1px solid #ffffff0b;
}
.cfop-guide > div {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 20px;
}
.cfop-guide > div > span {
  font: 10px var(--font-mono);
  color: #7e7e7e;
}
.cfop-guide strong {
  font: 13px var(--font-mono);
  min-width: 45px;
  font-weight: 400;
  color: #cacaca;
}
.cfop-guide p {
  font-size: 11px;
  color: #989898;
}
.spin {
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
